<main>
  <h1>Create an account</h1>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="form-group">
      <label for="username-input" class="control-label">Username</label>
      <input 
        id="username-input" type="text" placeholder="Enter Username"
        ngModel name="username" #username="ngModel" class="form-control" 
        [class.is-valid]="username.valid && username.dirty && !username.pending"
        [class.is-invalid]="username.invalid && username.touched"
        [class.is-loading]="username.pending"
        autofocus required uniqueUser="username"
      />

      <div *ngIf="username.pending" class="spinner-border ml-auto" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      
      <ng-container *ngIf="username.invalid && username.touched">
        <div *ngIf="username.errors.required" class="invalid-feedback">
          Username is required.
        </div>
        <div *ngIf="username.errors.uniqueUser" class="invalid-feedback">
          This username is taken
        </div>
      </ng-container>
    </div>

    <div class="form-group">
      <label for="email-address-input">Email Address</label>
      <input 
        id="email-address-input" type="text" placeholder="Enter Email Address"
        #email="ngModel" name="email" ngModel class="form-control"
        [class.is-valid]="email.valid && email.dirty && !email.pending"
        [class.is-invalid]="email.invalid && email.touched" 
        [class.is-loading]="email.pending"
        required
        pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" 
        uniqueUser="email"
      />

      <div *ngIf="email.pending" class="spinner-border ml-auto" role="status">
        <span class="sr-only">Loading...</span>
      </div>

      <ng-container *ngIf="email.invalid && email.touched">
        <div *ngIf="email.errors.required" class="invalid-feedback">
          Email is required.
        </div>
        <div *ngIf="email.errors.pattern" class="invalid-feedback">
          Please provide a valid email
        </div>
        <div *ngIf="email.errors.uniqueUser" class="invalid-feedback">
          This email is taken
        </div>
      </ng-container>
    </div>

    <div class="form-group">
      <label for="password-input">Password</label>
      <input 
        id="password-input" type="password" placeholder="Enter Password"
        class="form-control" name="password" ngModel required
        #password="ngModel" minlength="8" maxlength="30" 
        [class.is-invalid]="password.invalid && password.touched"
        [class.is-valid]="password.valid && password.dirty" 
      />

      <ng-container *ngIf="password.invalid && password.touched">
        <div *ngIf="password.errors.required" class="invalid-feedback">
          Password is required.
        </div>
        <div *ngIf="password.errors.minlength || password.errors.maxlength" class="invalid-feedback">
          Password must be between 8 and 30 characters
        </div>
      </ng-container>
    </div>

    <div class="form-group">
      <label for="re-entered-password-input">Re-enter Password</label>
      <input 
        id="re-entered-password-input" type="password" placeholder="Re-enter Password"
        class="form-control" [ngModelOptions]="{standalone: true}" ngModel #reenteredPassword="ngModel"
        [match]="f.value.password"
        [class.is-invalid]="reenteredPassword.invalid && reenteredPassword.touched"
        [class.is-valid]="reenteredPassword.valid && reenteredPassword.dirty" 
      />

      <ng-container *ngIf="reenteredPassword.invalid && reenteredPassword.touched">
        <div *ngIf="reenteredPassword.errors.match" class="invalid-feedback">
          Passwords must match.
        </div>
      </ng-container>
    </div>

    <button *ngIf="!registering" type="submit" class="btn btn-primary m-auto">
      <span>Register</span>
    </button>

    <button *ngIf="registering" class="btn btn-primary" type="button" disabled>
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      <span>Registering...</span>
    </button>
  </form>
</main>