.book-browser {
  .w-md-editor-text-pre,
  .w-md-editor-text-input,
  .w-md-editor-text > .w-md-editor-text-pre,
  .w-md-editor,
  .w-md-editor-text {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    line-height: inherit;
  }

  .is-invalid.w-md-editor {
    border: 0.06rem solid #dc3545;
  }

  .md-editor-toolbar {
    button {
      font-size: 0.5 rem;
    }
  }
}

.btn-group-xs > .btn,
.btn-xs {
  padding: 0.1rem 0.2rem;
  font-size: 0.875rem;
  line-height: 0.5;
  border-radius: 0.2rem;
}
