.book-browser {
  .w-md-editor-text-pre, .w-md-editor-text-input, .w-md-editor-text > .w-md-editor-text-pre, .w-md-editor, .w-md-editor-text {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    line-height: inherit;
  }

  .is-invalid.w-md-editor {
    border: 1px solid #dc3545;
  }

  .md-editor-toolbar {
    button {
      font-size: 8px;
    }
  }
}
