/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.css';
@import '~react-datepicker/dist/react-datepicker.min.css';

.custom-file-label {
  z-index: 0;
}

.badge {
  font-size: 100%;
  font-weight: normal;
}

.rbt-aux {
  display: none;
}

.breadcrumb {
  background-color: inherit;
  margin-bottom: 0;
  padding-bottom: 0;
}

.btn-nav {
  color: rgba(255,255,255,.5);
  padding: 0.5rem 0;
  display: block;
  &:hover {
    color: rgba(255,255,255,.75);
  }
}

@media screen and (min-width: 768px) {
  .navbar-expand-md .btn-nav {
    padding: 0.5rem 0.5rem;
    display: inline-block;
  }
}

// .MuiSvgIcon-root {
//   font-size: 1.2rem!important;
// }