@import '~bootstrap/scss/bootstrap';
@import '~react-datepicker/dist/react-datepicker.min.css';
@import './variables.scss';
@import './shim.scss';

@font-face {
  font-family: 'Nunito-Regular';
  src: local('Nunito-Regular'), url(./assets/fonts/Nunito-Regular.ttf) format('truetype');
}

* {
  font-family: 'Nunito-Regular';
}

.heading-top {
  font-size: $heading-top-font-size;
}

.heading-main {
  font-size: $heading-main-font-size;
}

.heading-section {
  font-size: $heading-section-font-size;
}

.heading-component {
  font-size: $heading-component-font-size;
}

.heading-element {
  font-size: $heading-element-font-size;
}

.breadcrumb {
  margin-bottom: $margin-component-y !important;
}

.custom-file-label {
  z-index: 0;
}

.badge {
  font-size: 100%;
  font-weight: normal;
}

.rbt-aux {
  display: none;
}

.breadcrumb {
  background-color: inherit;
  margin-bottom: 0;
  padding-bottom: 0;
}

.btn-nav {
  color: rgba(255, 255, 255, 0.5);
  padding: 0.5rem 0;
  display: block;
  &:hover {
    color: rgba(255, 255, 255, 0.75);
  }
}

@media screen and (min-width: 768px) {
  .navbar-expand-md .btn-nav {
    padding: 0.5rem 0.5rem;
    display: inline-block;
  }
}

.breadcrumb {
  padding-left: 0;
}

.details-thumbnail {
  width: 18.75rem;
  height: 25rem;
}

.details-banner {
  width: 100%;
}

@include media-breakpoint-up(xs) {
  .details-banner {
    height: 11rem;
  }
}

@include media-breakpoint-up(sm) {
  .details-banner {
    height: 12.5rem;
  }
}

@include media-breakpoint-up(md) {
  .details-banner {
    height: 15.625rem;
  }
}

@include media-breakpoint-up(lg) {
  .details-banner {
    height: 18.75rem;
  }
}

@include media-breakpoint-up(xl) {
  .details-banner {
    height: 21.875rem;
  }
}

@media screen and (max-width: 768px) {
  .breadcrumb > :not(:nth-last-child(2)) {
    display: none;
  }

  .breadcrumb :nth-last-child(2) {
    padding-left: 0;
  }

  .breadcrumb :nth-last-child(2)::before {
    content: none;
  }
  .breadcrumb :nth-last-child(2) ::before {
    content: '‹ ';
  }
}

a {
  text-decoration: none;
}

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: inherit;
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}

// .MuiSvgIcon-root {
//   font-size: 1.2rem!important;
// }
