@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

@import '~bootstrap/scss/_variables.scss';

// Spacing
$margin-sm: 0.3rem;
$margin-md: 0.625rem;

$margin-section-y: 1.5rem;

$margin-component-y: 0.95rem;
$margin-component-x: 95rem;

$margin-element-y: 0.3rem;
$margin-element-x: 0.3rem;

$heading-top-font-size: $h1-font-size;
$heading-main-font-size: $h2-font-size;
$heading-section-font-size: $h3-font-size;
$heading-component-font-size: $h4-font-size;
$heading-element-font-size: $h5-font-size;
