@import '../../../variables.scss';

.book-details-header {
  display: flex;
}

.book-details {
  margin-bottom: $margin-component-y;
  display: flex;
  gap: $margin-component-x;
}

@media screen and (max-width: 768px) {
  .book-details {
    flex-wrap: wrap;
  }
}

.book-details-thumbnail {
  width: 18.75rem;
  height: 25rem;
}

.side {
  min-width: 15.625rem;
}
