<main class="panel">
  <span class="form-key">
    <span class="text-danger">*</span> This field is required
  </span>
  <h1>Add a New Book</h1>
  <form [formGroup]="newBookForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="title-input" class="control-label">
        Title <span class="text-danger">*</span>
      </label>
      
      <input 
        id="title-input" type="text" placeholder="Enter Title"
        formControlName="title" class="form-control" 
        [class.is-valid]="title.valid && title.dirty && !title.pending"
        [class.is-invalid]="title.invalid && title.touched"
        [class.is-loading]="title.pending"
        required
      />

      <ng-container *ngIf="title.invalid && title.touched">
        <div *ngIf="title.errors.required" class="invalid-feedback">
          Title is required.
        </div>
      </ng-container>
    </div>

    <div class="form-group">
      <label for="description-input" class="control-label">
        Description <span class="text-danger">*</span>
      </label>
      
      <textarea 
        id="description-input" type="text" placeholder="Enter Description"
        formControlName="description" class="form-control" 
        [class.is-valid]="description.valid && description.dirty && !description.pending"
        [class.is-invalid]="description.invalid && description.touched"
        [class.is-loading]="description.pending"
        required rows="5"
      ></textarea>

      <ng-container *ngIf="description.invalid && description.touched">
        <div *ngIf="description.errors.required" class="invalid-feedback">
          Description is required.
        </div>
      </ng-container>
    </div>

    <div class="form-group">
      <label for="thumbnail-input" class="control-label">
        Thumbnail <span class="text-danger">*</span>
      </label>

      <div class="custom-file">
        <input type="file" class="custom-file-input" id="thumbnail-input"
          accept="image/*" formControlName="thumbnail"
          (change)="onSelectFile($event)"
          required
          [class.is-valid]="thumbnail.valid && thumbnail.dirty"
          [class.is-invalid]="thumbnail.invalid && thumbnail.touched"
        />
        <label class="custom-file-label" for="thumbnail-input" *ngIf="!file">Choose file</label>
        <label class="custom-file-label" for="thumbnail-input" *ngIf="file">{{file.name}}</label>
        
        <ng-container *ngIf="thumbnail.invalid && thumbnail.touched">
          <div *ngIf="thumbnail.errors.required" class="invalid-feedback">
            Thumbnail is required.
          </div>
        </ng-container>
      </div>

      <img src="{{url}}" height="200" />
    </div>

    <div class="form-group" formArrayName="creators">
      <label class="control-label">Creators</label>
      <div *ngFor="let creator of creators.controls; let i = index" class="row form-array-row" [formGroupName]="i">
        <div class="col-6">
          <label class="col-form-label" *ngIf="i===0">
            Full name <span class="text-danger">*</span>
          </label>
          
          <ng-select
            [items]="people$ | async"
            [addTag]="addTag"
            [loading]="peopleLoading"
            [typeahead]="peopleInput$"
            bindLabel="name"
            formControlName="name"
          >
            <ng-template ng-label-tmp ng-option-tmp let-item="item">
              <div>{{item.fullName}}</div>
            </ng-template>
          </ng-select>

          <ng-container *ngIf="testInputs && testInputs[i]">
            {{testInputs[i]}}
            <div class="invalid-feedback">
              Full name is required.
            </div>
          </ng-container>
        </div>
        
        <div class="col-5">
          <label class="col-form-label" *ngIf="i===0">Role</label>
          <select class="form-control" formControlName="role">
            <option *ngFor="let role of roles$ | async" value="{{role.value}}">{{role.title}}</option>
          </select>
        </div>

        <div class="col-1 form-array-row-button">
          <button class="btn btn-danger" (click)="deleteCreator(i)"><i class="fas fa-trash"></i></button>
        </div>
      </div>
      <div class="form-array-row">
        <button type="button" class="btn btn-primary d-block ml-auto" (click)="addCreator()">Add Creator</button>
      </div>
    </div>

    <button *ngIf="!creating" type="submit" class="btn btn-primary m-auto">
      <span>Create Book</span>
    </button>

    <button *ngIf="creating" class="btn btn-primary" type="button" disabled>
      <span class="spinner-border spinner-border-sm mr-1" role="status" aria-hidden="true"></span>
      <span>Creating Book...</span>
    </button>
  </form>

  <div *ngIf="errorMessage" class="alert alert-danger inline-alert mt-3" role="alert">
    <i class="fas fa-times-circle mr-1"></i>
    <span>{{errorMessage}}</span>
  </div>
</main>
