.loading-indicator {
  flex: 1;
  position: absolute;
  top: 45%;
  left: 45%;
  width: 3.125rem;
  height: 3.125rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.loading-container {
  display: flex;
  flex-direction: column;
  position: relative;
}
