<main *ngIf="book">
  <section class="side-content">
    <img class="book-image" src="/api/book/{{book.id}}/thumbnail" />
  </section>
  <section class="main-content">
    <h1>{{book.title}}</h1>
    <div class="book-creators" *ngIf="book.creators.length > 0">
      <span>by {{book.creators[0].fullName}}
        {{book.creators[0].creatorType ? '(' + book.creators[0].creatorType.title + ')' : ''}}</span>
      <span *ngFor="let creator of book.creators.slice(1)">, {{creator.fullName}}
        {{creator.creatorType ? '(' + creator.creatorType.title + ')' : ''}}</span>
    </div>
    <p *ngIf="book.description" [innerHTML]="book.description | replaceLineBreaks"></p>

    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="volume-tab" data-toggle="tab" href="#volume" role="tab" aria-controls="volume" aria-selected="true">Volumes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="issue-tab" data-toggle="tab" href="#issue" role="tab" aria-controls="issue" aria-selected="false">Issues</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="comment-tab" data-toggle="tab" href="#comment" role="tab" aria-controls="comment" aria-selected="false">Comments</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade show active" id="volume" role="tabpanel" aria-labelledby="volume-tab">
        <a *ngFor="let volume of book.volumes" class="row volume-row" routerLink="/volume/{{volume.id}}">
          <img class="volume-image col-2" src="/api/book/{{book.id}}/thumbnail" />
          <span class="col-5 volume-release-number">Volume {{volume.releaseNumber}}</span>
          <span class="col-5 volume-publish-date">{{volume.publishDate}}</span>
        </a>
      </div>
      <div class="tab-pane fade" id="issue" role="tabpanel" aria-labelledby="issue-tab">
        <a *ngFor="let issue of book.issues" class="row issue-row" routerLink="/issue/{{issue.id}}">
          <img class="issue-image col-2" src="/api/book/{{book.id}}/thumbnail" />
          <span class="col-5 issue-release-number">Issue {{issue.releaseNumber}}</span>
          <span class="col-5 issue-publish-date">{{issue.publishDate}}</span>
        </a>
      </div>
      <div class="tab-pane fade" id="comment" role="tabpanel" aria-labelledby="comment-tab">contact</div>
    </div>
  </section>
</main>