main {
  margin: auto;
  display: flex;
  width: 800px;
}

h1 {
  font-size: 22px;
}

.book-image {
  width: 180px;
  height: 260px;
}

.volume-row, .issue-row {
  height: 100px;
  border-bottom: 1px solid #f5f5f5;
}

.volume-image, .issue-image {
  height: 100px;
}

.side-content {
  width: 200px;
}

.main-content {
  width: 600px;
}

.book-creators {
  margin-bottom: 10px;
}

.volume-release-number, .volume-publish-date, .issue-release-number, .issue-publish-date {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 15px;
  color: #212529;
}

.volume-row:hover, .issue-row:hover {
  text-decoration: none;
  background: #f8f9fa;
}
