@import '../../variables.scss';

.error-alert-heading {
  display: flex;
  align-items: flex-start;
  margin-bottom: $margin-md;
}

.error-alert-message {
  word-break: break-word;
  word-wrap: break-word;
  font-weight: bolder;
}

.error-alert-item {
  word-break: break-word;
  word-wrap: break-word;
}

.error-alert-icon {
  margin-right: 0px;
}

.error-alert {
  margin-bottom: 10px;
}
