.content {
  width: 1150px;
  margin: auto;
}

.dropdown-menu {
  width: 90%;
}

.search-result {
  width: 400px;
  display: flex;
}

.search-result-thumbnail {
  width: 40px;
  height: 40px;
  flex-grow: 0;
  margin: auto;
}

.search-result-description {
  flex-grow: 1;
  margin-left: 5px;
}

.new-books {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  width: 180px;
  margin: 5px;
  img {
    height: 210px
  }
  img:hover {
    opacity: 0.3;
  }
}