.content {
  width: 850px;
  margin: auto;
}

.new-books {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 637px;
}

.book-card {
  width: 160px;
  margin: 5px;
  border: none;
}

.empty-book-card {
  width: 160px;
  height: 202px;
}

.book-card-image {
  height: 180px;
  width: 100%;
}

.book-card-image:hover {
  opacity: 0.5;
}

.book-card-title, .book-card-release-number {
  font-size: 15px;
  text-decoration: none;
  color: #212529;
}

.book-card-title:hover, .book-card-release-number:hover {
  color: #007bff;
}

.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%);
}

.carousel-control-prev {
  margin-left: -100px;
}

.carousel-control-next {
  margin-right: -100px;
}

h1 {
  font-size: 24px;
}
