
<main>
  <section class="content">
    <h1>New</h1>
    <div id="carouselExampleControls" class="carousel row" data-interval="false">
      <div class="carousel-inner col">
        <div *ngFor="let releaseArr of releases;let i = index" [ngClass]="i == 0 ? 'active carousel-item' : 'carousel-item'">
          <div class="new-books">
            <div *ngFor="let release of releaseArr" class="book-card">
              <a routerLink="/release/{{release.id}}"><img class="book-card-image" src="/api/book/{{release.bookId}}/thumbnail" alt="" /></a>
              <span>
                <a routerLink="/book/{{release.bookId}}" class="book-card-title">{{release.bookTitle | truncate:[13, '...']}}</a>
              </span>
              <span *ngIf="release.releaseType === 'VOLUME'" class="float-right">
                <a routerLink="/release/{{release.id}}" class="book-card-release-number">vol. {{release.releaseNumber}}</a>
              </span>
              <span *ngIf="release.releaseType === 'ISSUE'" class="float-right">
                <a routerLink="/release/{{release.id}}" class="book-card-release-number">#{{release.releaseNumber}}</a>
              </span>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </section>
</main>