.content {
  width: 850px;
  margin: auto;
}

.dropdown-menu {
  width: 90%;
}

.search-result {
  width: 400px;
  display: flex;
}

.search-result-thumbnail {
  width: 40px;
  height: 40px;
  flex-grow: 0;
  margin: auto;
}

.search-result-description {
  flex-grow: 1;
  margin-left: 5px;
}

.new-books {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 637px;
}

.book-card {
  width: 160px;
  margin: 5px;
  border: none;
}

.empty-book-card {
  width: 160px;
  height: 202px;
}

.book-card-image {
  height: 180px;
  width: 100%;
}

.book-card-image:hover {
  opacity: 0.5;
}

.book-card-title {
  font-size: 15px;
  text-decoration: none;
  color: #212529;
}

.book-card-title:hover {
  color: #007bff;
}

footer {
  text-align: center;
  margin: 10px 0px;
  padding: 20px;
  border-top: 1px solid #e5e5e5;  
}

.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%);
}

.carousel-control-prev {
  margin-left: -100px;
}

.carousel-control-next {
  margin-right: -100px;
}

h1 {
  font-size: 24px;
}
