@import '../../variables.scss';

.search-bar {
  min-width: 17.2rem;
  max-width: 25rem;
  .rbt {
    width: 100%;
  }
}

.rbt-menu {
  max-height: 40rem !important;
}

.search-option {
  display: flex;
}

.search-option-thumbnail {
  width: 2.5rem;
  height: 3.125rem;
  margin-right: $margin-md;
}

.search-bar-button {
  height: 2.375rem;
  color: #6c757d;
  &:hover {
    color: #343a40;
  }
}

.rbt .dropdown-item {
  border-bottom: 1px solid #dee2e6;
  padding-left: 0.625rem;
}

.rbt-input-main {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search-bar-result-header,
.search-bar-result-footer {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  border-bottom: 1px solid #dee2e6;
}
