@import '../../variables.scss';

.search-bar {
  min-width: 275px;
  max-width: 400px;
  .rbt {
    width: 100%;
  }  
}

.rbt-menu {
  max-height: 575px !important;
}

.search-option {
  display: flex;
}

.search-option-thumbnail {
  width: 40px;
  height: 50px;
  margin-right: $margin-md;
}

.search-bar-button {
  height: 38px;
  color: #6c757d;
  &:hover {
    color: #343a40;
  }
}

.rbt .dropdown-item {
  border-bottom: 1px solid #dee2e6;
  padding-left: 10px;
}

.rbt-input-main {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search-bar-result-header, .search-bar-result-footer {
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid #dee2e6;
}
