@import '../../variables.scss';

.search-bar {
  min-width: 275px;
  max-width: 400px;
  .rbt {
    width: 100%;
  }  
}

.search-option {
  display: flex;
}

.search-option-thumbnail {
  width: 40px;
  height: 60px;
  margin-right: $margin-md;
}

.search-bar-button {
  height: 38px;
  color: #6c757d;
  &:hover {
    color: #343a40;
  }
}

.rbt .dropdown-item {
  border-bottom: 1px solid #dee2e6;
}

.rbt-input-main {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.rbt-menu {
  a {
    text-decoration: inherit;
    color: inherit;
    &:focus, &:hover {
      text-decoration: inherit;
      color: inherit;
    }
  }  
}
