@import '../../variables.scss';

.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1%;
  row-gap: 0.625rem;
  margin-bottom: $margin-component-y;
}

@include media-breakpoint-up(xs) {
  .card-list {
    .card {
      flex: 0 1 49.5%; // 2
      // 101/n - 1 = p
    }
  }
}

@include media-breakpoint-up(sm) {
  .card-list {
    .card {
      flex: 0 1 32.66%; // 2
    }
  }
}

@include media-breakpoint-up(md) {
  .card-list {
    .card {
      flex: 0 1 24.25%; // 4
    }
  }
}

@include media-breakpoint-up(lg) {
  .card-list {
    .card {
      flex: 0 1 19.2%; // 5
    }
  }
}

@include media-breakpoint-up(xl) {
  .card-list {
    .card {
      flex: 0 1 15.83%; // 6
    }
  }
}
